In [1]:
fun main(args: Array<String>) {
    println("Hello World!")
}

null

In [2]:
main(arrayOf("a", "b", "c"))

Hello World!

null

In [5]:
main(arrayOf())

Hello World!

null

In [ ]:
main(arrayOf("a", "b", "c"))

In [6]:
fun main() {
    println("Hello World!")
}

null

In [7]:
    println("Hello World!")

Hello World!

null

In [8]:
fun main(args: Array<String>) {
    println("Hello World!")
}

fun main() {
    println("Hello World!")
}

null

In [9]:
main()

Hello World!

null

In [10]:
fun a_number() {
  1 + 2
  + 3
}

null

In [11]:
a_number()

null

In [12]:
fun a_number() {
  1 + 2 +
  3
}

null

In [13]:
a_number()

null

In [14]:
fun a_number() {
  return 1 + 2 +
  3
}

error:  type mismatch

In [19]:
fun a_number(): Int {
  return 1 + 2 +
  3
}

null

In [18]:
a_number()

6

In [20]:
fun a_number(): Int {
  return 1 + 2
  + 3
}

null

In [21]:
a_number()

3

In [22]:
fun a_number(): Int {
  return 1 + 2
  + 4
}

null

In [23]:
a_number()

3

# [classes](https://kotlinlang.org/docs/tutorials/kotlin-for-py/classes.html)

In [13]:
class Person(firstName: String, lastName: String, yearOfBirth: Int) {
    val fullName = "$firstName $lastName"
    var age: Int
    var lastName = lastName
    var name1: String
    
    init {
        age = 2020 - yearOfBirth
        name1 = firstName
    }
}

null

In [14]:
var pete = Person("Pete", "B", 2002)
var liz = Person("Liz", "W", 1950)

null

In [16]:
pete.name1

Pete

In [4]:
pete.toString()

Line_1$Person@44a63915

In [5]:
pete.firstName

error:  unresolved reference

In [17]:
pete.fullName

Pete B

In [18]:
pete.age

18

In [19]:
pete.age = 38

null

In [20]:
pete.age

38

In [21]:
liz.fullName = "e-lizabeth"

error:  val cannot be reassigned

In [1]:
class Dog(val name: String, var age: Int = 1)

null

In [4]:
val d1 = Dog("Fido")
val d2 = Dog("Bella", 5)
val d3 = Dog(name="Jasper", age=8)

null

In [3]:
d2

Line_1$Dog@28dd6980

In [4]:
d1.name

Fido

In [5]:
d1.age

1

In [5]:
d2

Line_1$Dog@44a60828

In [6]:
d2.age

5

In [6]:
d3.age

8

# overriding

In [5]:
class Dog(val name: String, var age: Int = 1) {
    override fun toString(): String {
        return "$name the $age-year-old dog"
    }
}

null

In [11]:
val d2 = Dog("Spark", age=4)
d2

Spark the 4-year-old dog

# [data class](https://kotlinlang.org/docs/reference/data-classes.html)

In [7]:
data class Dog(val name: String, var age: Int = 1)

null

In [8]:
val d1 = Dog("Fido")
val d2 = Dog("Sam")
val d3 = Dog("Fido", age=5)
val d4 = Dog("Sam", age=1)

null

In [9]:
d1

Dog(name=Fido, age=1)

In [10]:
d3

Dog(name=Fido, age=5)

In [11]:
d1 == d3

false

In [12]:
d2 == d4

true