In [12]:
import pandas as pd

In [14]:
df = pd.read_csv('provinces.csv')
df

,Unnamed: 0,Province,Postalabbrev.,Capital,Largest city,Entered Confederation,Population,Land Area (km2),Water Area (km2),Total Area (km2),Official language(s),Seats – Commons,Seats – Senate
0,NaN,Ontario[b],ON,Toronto,Toronto,"July 1, 1867",14659616,917741,158654,1076395,English[c],121,24
1,NaN,Quebec,QC,Quebec City,Montreal,"July 1, 1867",8522800,1356128,185928,1542056,French[d],78,24
2,NaN,Nova Scotia,NS,Halifax[e],Halifax[e],"July 1, 1867",976768,53338,1946,55284,English[f],11,10
3,NaN,New Brunswick,NB,Fredericton,Moncton,"July 1, 1867",780021,71450,1458,72908,EnglishFrench[g],10,10
4,NaN,Manitoba,MB,Winnipeg,Winnipeg,"July 15, 1870",1373859,553556,94241,647797,English[c][h],14,6
5,NaN,British Columbia,BC,Victoria,Vancouver,"July 20, 1871",5105576,925186,19549,944735,English[c],42,6
6,NaN,Prince Edward Island,PE,Charlottetown,Charlottetown,"July 1, 1873",157901,5660,0,5660,English[c],4,4
7,NaN,Saskatchewan,SK,Regina,Saskatoon,"September 1, 1905",1178657,591670,59366,651036,English[c],14,6
8,NaN,Alberta,AB,Edmonton,Calgary,"September 1, 1905",4395586,642317,19531,661848,English[c],34,6
9,NaN,Newfoundland and Labrador,NL,St. John's,St. John's,"March 31, 1949",521922,373872,31340,405212,English[c],7,6
10,NaN,Total,Total,Total,Total,Total,37672706,5490918,572013,6062931,—,335,102

In [15]:
df['Land Area (km2)']

0      917741
1     1356128
2       53338
3       71450
4      553556
5      925186
6        5660
7      591670
8      642317
9      373872
10    5490918
Name: Land Area (km2), dtype: int64

In [17]:
df['Land Area (km2)'].sum()

10981836

# Output

In [9]:
df.to_csv('clean-provinces.csv')

In [11]:
df.to_excel('provinces.xlsx')